.btn-primary {
  background: #009688;
  border: none;
}
.btn-outline {
  background: none;
  color: #009688;
  border: 1px solid #009688;
  padding: 5px 15px;
  margin: 0 5px;
}
.location-btns {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.map-embed {
  height: 95vh;
}

.full-width {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  margin-bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0,0,0,0.55) url("../img/movie-park.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}
.table tr > td {
  border: none;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f3f3f3;
}

footer {
  background: #009688;
  color: white;
  padding: 30px 0;
}

.card p {
  margin: 0;
  padding: 0;
}
.park-name {
  font-weight: bold;
}
.col-md-6:nth-child(2n+1){
    clear: both;
}
